<Overlay @position="right" @noBackdrop={{true}} @isResizable={{true}} @isMaximizable={{true}} @isMinimizable={{true}} @width="700px" @fullHeight={{true}} @onLoad={{this.setupInterface}} as |overlay|>
    <Overlay::Header @overlay={{overlay}} @title="New Driver" @onPressCancel={{this.transitionBack}}>
        <DropdownButton @icon="ellipsis-h" @size="sm" @iconPrefix="fas" @triggerClass="mr-2 hidden md:flex" as |dd|>
            <div class="next-dd-menu mt-1 mx-0" aria-orientation="vertical" aria-labelledby="user-menu">
                <div class="p-1">
                    <a href="javascript:;" class="next-dd-item" {{on "click" (dropdown-fn dd this.newCustomer)}}>
                        <div class="w-6">
                            <FaIcon @icon="user-plus" />
                        </div>
                        <span>Create new customer</span>
                    </a>
                    <a href="javascript:;" class="next-dd-item" {{on "click" (dropdown-fn dd this.newFacilitator)}}>
                        <div class="w-6">
                            <FaIcon @icon="truck" />
                        </div>
                        <span>Create new facilitator</span>
                    </a>
                    <a href="javascript:;" class="next-dd-item" {{on "click" (dropdown-fn dd this.newPlace)}}>
                        <div class="w-6">
                            <FaIcon @icon="map-pin" />
                        </div>
                        <span>Create new place</span>
                    </a>
                    <a href="javascript:;" class="next-dd-item" {{on "click" (dropdown-fn dd this.addEntity)}}>
                        <div class="w-6">
                            <FaIcon @icon="box" />
                        </div>
                        <span>Add entity to order</span>
                    </a>
                    <a href="javascript:;" class="next-dd-item" {{on "click" (dropdown-fn dd this.editMetaData)}}>
                        <div class="w-6">
                            <FaIcon @icon="table" />
                        </div>
                        <span>Edit order metadata</span>
                    </a>
                    <a href="javascript:;" class="next-dd-item" {{on "click" (dropdown-fn dd this.addCustomField)}}>
                        <div class="w-6">
                            <FaIcon @icon="edit" />
                        </div>
                        <span>Add custom field</span>
                    </a>
                </div>
            </div>
        </DropdownButton>
        <Button @icon="upload" @type="magic" @text={{if (media 'isMobile') "" "Import"}} @onClick={{this.importOrder}} @disabled={{this.isCreatingOrder}} class="mr-2" />
        <Button @icon="check" @type="primary" @text={{if (media 'isMobile') "" "Submit"}} @onClick={{this.createOrder}} @isLoading={{this.isCreatingOrder}} @isSubscriptionRequired={{true}} @disabled={{not this.isValid}} />
    </Overlay::Header>

    
</Overlay>